.chartcalc{
    display: flex;
    background: #F6F5F3;
    height: 35rem;
}

.container{
    background: #F6F5F3;
    display: flex;
    flex-direction: column;
   
  flex:1;


  
    height: 25rem;
    padding:2rem;
}
.chart{
    width:50rem;
    margin:5rem;
    margin-left:15rem;
    flex:2;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.label{
    display: block;
    width: 10rem;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.input{
    width:10rem;
    height: 3rem;
    margin-right: 0.5rem;
     
    border:2px solid #8b9996;
        
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
    
    font-size:1.2rem;
}
.inputcontainer{
    padding:0.1rem;
}
.btn{
    width:12rem;
    height: 3rem;
    margin-top: 1rem;
    background-color: #657E79;
    color:white;
    font-size:1rem;
    border:none;

}
.radiocontainer{
    padding:0.1rem;
    display: flex;
    margin-bottom: 0.2rem;
}
.radbtn{
    margin-right:0.5rem;
}
.grid{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr; /* Two rows with equal fractional height */
  grid-template-columns: 0.11fr 0.11fr;
   

}
.radalign{
    display: flex;
}
.para{
    width: 7rem;
}
.gendercontainer{
    display: flex;
}
.dropdown{
    border:none;
    width: 10rem;
    height:3rem;
    border:2px solid #8b9996;
    font-size:1rem;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.bottomspace{
    margin-bottom: 0.2rem;
}
.radinput{
    margin-right: 0.2rem;
}
@media (max-width: 2300px) {
    /* Your styles for screens with width less than 1024 pixels go here */
    .chart{
        width:25rem;
        margin:3rem;
        margin-left:0rem;
        flex:2;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30rem;
        
    }
    .chartcalc{
        display: flex;
        background: #F6F5F3;
        height: 35rem;
        
    }
    
    
  }
@media (max-width: 1200px) {
    /* Your styles for screens with width less than 1024 pixels go here */
    .chart{
        width:25rem;
        margin:3rem;
        margin-left:0rem;
        flex:2;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 40rem;
        
    }
    .chartcalc{
        display: flex;
        background: #F6F5F3;
        height: 77rem;
        
    }
    
    
  }
 
@media (max-width: 1024px) {
    /* Your styles for screens with width less than 1024 pixels go here */
    .chart{
        width:25rem;
        margin:3rem;
        margin-left:0rem;
        flex:2;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40rem;
        
    }
    .chartcalc{
        display: flex;
        background: #F6F5F3;
        height: 77rem;
        
    }
    
    
  }
  @media (max-width: 767px) {
    /* Your styles for screens with width less than 1024 pixels go here */
    .chartcalc{
        display: flex;
        background: #F6F5F3;
        height: 65rem;
        flex-direction: column;
        width: 39rem;
        
    }
    .chart{
        width: 38rem;
        height: 30rem;
        margin-left: 2rem;
        flex: 1 1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0rem;
        word-wrap: break-word;
    }
    .container{
        background: #F6F5F3;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 25rem;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 25rem;
    margin-left: 1rem;
       
    }
    
  }

@media (max-width: 200px) {
    /* Your styles for screens with width less than 1024 pixels go here */
    .chartcalc{
        display: flex;
        background: #F6F5F3;
        height: 35rem;
        flex-direction: column;
        
    }
    .chart{
        width:23rem;
        height:30rem;
        margin-left:2rem;
        flex:1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0rem;
    }
    
  }
 
 