
.image{
    width: 5rem;
    height: 5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    height:8rem;
    align-items: center;
    background-color: #657E79;
   
    color:white;
  
}

.desc p{
    font-weight: 300;
}
