@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/Euclid\ Circular\ B\ Bold.ttf Circular B Bold Italic.ttf') format('ttf');
     
  /* Add more source formats if needed (TTF, OTF, etc.) */
  font-weight: normal;
  font-style: normal;
}

.image{
    width: 5rem;
    height: 5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    height:8rem;
    align-items: center;
    background-color: #657E79;
   
    color:white;
  
}
.title{
  /* font-family: 'sans-serif'; */
  font-family: 'Euclid Circular B';
}

.desc p{
    font-weight: 300;
}
@media (max-width: 767px) {
    /* Your styles for screens with width less than 1024 pixels go here */
  .image{
    display: none;
  }
  .title{
    font-size: 2rem;;
  }
  .container{
    width: 100vw;
  }
  }
@media (max-width: 200px) {
    /* Your styles for screens with width less than 1024 pixels go here */
  .image{
    display: none;
  }
  .title{
    font-size: 4rem;
  }
  .container{
    width: 27rem;
  }
  }

  

  
